/* SCSS RGB */
/* BACKGROUND-COLORS */
.bg-raisin-black {
  background-color: #1b1d23; }

.bg-independence {
  background-color: #555b6e; }

.bg-morning-blue {
  background-color: #89b0ae; }

.bg-powder-blue {
  background-color: #bee3db; }

.bg-cultured {
  background-color: #faf9f9; }

.bg-apricot {
  background-color: #ffd6ba; }

.bg-lemon-meringue {
  background-color: #f1e8b8; }

.bg-yellow-crayola {
  background-color: #f9e784; }

.bg-copper-crayola {
  background-color: #e58f65; }

.bg-indian-red {
  background-color: #d05353; }

.bg-eerie-black {
  background-color: #191919; }

/* color letters */
.color-eerie-black {
  color: #191919; }

.color-raisin-black {
  color: #1b1d23; }

.color-independence {
  color: #555b6e; }

.color-indian-red {
  color: #d05353; }

.color-copper-crayola {
  color: #e58f65; }

.color-morning-blue {
  color: #89b0ae; }

.color-powder-blue {
  color: #bee3db; }

.color-yellow-crayola {
  color: #f9e784; }

.color-apricot {
  color: #ffd6ba; }

.color-lemon-meringue {
  color: #f1e8b8; }

.color-cultured {
  color: #faf9f9; }

/* border */
.border-solid-black-1 {
  border: 1px solid black; }

/* botones */
/*Colocar al padre position relative*/
.lineaBoton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 3px;
  /* margin: auto; */
  border-radius: 10px;
  background-color: #89b0ae; }

.containerAlto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #faf9f9; }

.card {
  position: relative;
  width: 300px;
  height: 500px;
  margin-top: 60px;
  box-shadow: 0px 0px 16px 0px rgba(137, 176, 174, 0.75);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(137, 176, 174, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(137, 176, 174, 0.75); }
  .card .card__img {
    position: absolute;
    top: -50px;
    left: 23px;
    width: 250px; }
    .card .card__img img {
      width: 100%; }
  .card .card__info {
    position: absolute;
    bottom: 90px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden; }
    .card .card__info .card__btnThree {
      position: absolute;
      left: -13px;
      border-radius: 50%;
      padding: 10px 15px;
      border: 2px solid #89b0ae;
      font-size: 1rem; }
    .card .card__info .card__titulo {
      font-size: 1.2rem;
      font-weight: 600;
      color: #d05353; }
    .card .card__info .card__autor {
      font-size: 1rem;
      font-weight: 600;
      color: #e58f65; }
    .card .card__info .card__btnCarrito {
      position: absolute;
      right: -13px;
      border-radius: 50%;
      padding: 10px 15px;
      border: 2px solid #89b0ae;
      font-size: 1rem; }
  .card .card__bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    border-top: 1px solid #bee3db;
    padding-top: 20px; }
    .card .card__bottom .card__precio {
      font-size: 1.5rem;
      font-weight: 500;
      color: #555b6e;
      margin-bottom: 10px; }
      .card .card__bottom .card__precio .card__descuento {
        font-size: 1rem;
        font-weight: 500;
        color: green; }
    .card .card__bottom .card__btnVer {
      display: inline-block;
      border: 1px solid #89b0ae;
      padding: 5px 10px;
      margin-bottom: 10px;
      border-radius: 5px; }

/* Start card with description */
.cardDesc {
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 16px 0px rgba(137, 176, 174, 0.75);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(137, 176, 174, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(137, 176, 174, 0.75); }

/* column left */
.cardDesc__colLeft {
  width: 300px;
  background: linear-gradient(320deg, rgba(255, 255, 255, 0.842) 10%, #89b0ae 33%); }

.cardDesc__img {
  width: 280px;
  z-index: 100; }
  .cardDesc__img img {
    width: 100%; }

.cardDesc__btns {
  z-index: 100; }
  .cardDesc__btns a {
    border-radius: 50%; }

/* column right */
.cardDesc__colRight {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.842); }

.cardDesc__titulo span {
  border-bottom: 2px solid #89b0ae; }

.cardDesc__autor {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.315);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.335);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.356); }

.cardDesc__resume {
  width: 280px;
  height: 290px;
  overflow: hidden; }

.cardDesc__btnVer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.658) 33%); }
  .cardDesc__btnVer a,
  .cardDesc__btnVer i {
    font-weight: 600;
    color: white; }

@media (max-width: 600px) {
  .cardDesc {
    width: 300px; } }

/* Start card with description Blur */
.cardDesc--bg-blur {
  position: relative;
  background-image: url("../img/ficcion/Un-mundo-invertido-christopher-priest.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.cardDesc--bg-blur::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px); }

/* ----------liston para cards---------------- */
.liston::after {
  content: 'Best seller';
  z-index: 110;
  position: absolute;
  top: -8px;
  right: -5px;
  display: inline-block;
  height: 30px;
  width: 115px;
  padding-right: 10px;
  font-weight: 600;
  text-align: end;
  color: azure;
  /* background-color: rgba(7, 201, 65, 0.651); */
  background-color: rgba(12, 119, 2, 0.651);
  -webkit-clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%, 17% 50%);
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%, 17% 50%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  background-color: #faf9f9; }

/* navbar index */
.navbar .dropdown-toggle::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 5px;
  margin-left: 0;
  border-top: 0.3em solid #89b0ae;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent; }

.navbar .nav-link {
  display: inline-block;
  margin-right: 10px; }

.navbar .btnNav {
  margin-right: 10px;
  font-size: 1.3rem;
  padding-bottom: 3px 5px;
  color: #89b0ae;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 1px solid #89b0ae; }

/*Delimitacion fin componente*/
.limite {
  margin-top: 50px;
  background-color: black;
  height: 5px;
  width: auto; }
