/* SCSS RGB */
/* BACKGROUND-COLORS */
.bg-raisin-black {
  background-color: #1b1d23; }

.bg-independence {
  background-color: #555b6e; }

.bg-morning-blue {
  background-color: #89b0ae; }

.bg-powder-blue {
  background-color: #bee3db; }

.bg-cultured {
  background-color: #faf9f9; }

.bg-apricot {
  background-color: #ffd6ba; }
