/* SCSS RGB */
/* BACKGROUND-COLORS */
.bg-raisin-black {
  background-color: #1b1d23; }

.bg-independence {
  background-color: #555b6e; }

.bg-morning-blue {
  background-color: #89b0ae; }

.bg-powder-blue {
  background-color: #bee3db; }

.bg-cultured {
  background-color: #faf9f9; }

.bg-apricot {
  background-color: #ffd6ba; }

.bg-lemon-meringue {
  background-color: #f1e8b8; }

.bg-yellow-crayola {
  background-color: #f9e784; }

.bg-copper-crayola {
  background-color: #e58f65; }

.bg-indian-red {
  background-color: #d05353; }

.bg-eerie-black {
  background-color: #191919; }

/* color letters */
.color-eerie-black {
  color: #191919; }

.color-raisin-black {
  color: #1b1d23; }

.color-independence {
  color: #555b6e; }

.color-indian-red {
  color: #d05353; }

.color-copper-crayola {
  color: #e58f65; }

.color-morning-blue {
  color: #89b0ae; }

.color-powder-blue {
  color: #bee3db; }

.color-yellow-crayola {
  color: #f9e784; }

.color-apricot {
  color: #ffd6ba; }

.color-lemon-meringue {
  color: #f1e8b8; }

.color-cultured {
  color: #faf9f9; }

/* botones */
/*Colocar al padre position relative*/
.lineaBoton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 3px;
  /* margin: auto; */
  border-radius: 10px;
  background-color: #89b0ae; }

.containerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }

.card {
  position: relative;
  width: 300px;
  height: 500px;
  margin-top: 60px;
  box-shadow: 0px 0px 16px 0px rgba(137, 176, 174, 0.75);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(137, 176, 174, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(137, 176, 174, 0.75); }
  .card .card__img {
    position: absolute;
    top: -50px;
    left: 23px;
    width: 250px; }
    .card .card__img img {
      width: 100%; }
  .card .card__info {
    position: absolute;
    bottom: 90px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden; }
    .card .card__info .card__btnThree {
      position: absolute;
      left: -13px;
      border-radius: 50%;
      padding: 10px 15px;
      border: 2px solid #89b0ae;
      font-size: 1rem; }
    .card .card__info .card__titulo {
      font-size: 1.2rem;
      font-weight: 600;
      color: #d05353; }
    .card .card__info .card__autor {
      font-size: 1rem;
      font-weight: 600;
      color: #e58f65; }
    .card .card__info .card__btnCarrito {
      position: absolute;
      right: -13px;
      border-radius: 50%;
      padding: 10px 15px;
      border: 2px solid #89b0ae;
      font-size: 1rem; }
  .card .card__bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    border-top: 1px solid #bee3db;
    padding-top: 20px; }
    .card .card__bottom .card__precio {
      font-size: 1.5rem;
      font-weight: 500;
      color: #555b6e;
      margin-bottom: 10px; }
      .card .card__bottom .card__precio .card__descuento {
        font-size: 1rem;
        font-weight: 500;
        color: green; }
    .card .card__bottom .card__btnVer {
      display: inline-block;
      border: 1px solid #89b0ae;
      padding: 5px 10px;
      margin-bottom: 10px;
      border-radius: 5px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  background-color: #faf9f9; }

/* navbar index */
.navbar .dropdown-toggle::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 5px;
  margin-left: 0;
  border-top: 0.3em solid #89b0ae;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent; }

.navbar .nav-link {
  display: inline-block;
  margin-right: 10px; }

.navbar .btnNav {
  margin-right: 10px;
  font-size: 1.3rem;
  padding-bottom: 3px 5px;
  color: #89b0ae;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 1px solid #89b0ae; }

/*Delimitacion fin componente*/
.limite {
  margin-top: 50px;
  background-color: black;
  height: 5px;
  width: auto; }
