/* BACKGROUND-COLORS */
.bg-raisin-black{
    background-color:$raisin-black ;
}
.bg-independence{
    background-color:$independence ;
}
.bg-morning-blue{
    background-color:$morning-blue ;
}
.bg-powder-blue{
    background-color:$powder-blue ;
}
.bg-cultured{
    background-color:$cultured ;
}
.bg-apricot{
    background-color:$apricot ;
}
