/* BACKGROUND-COLORS */
.bg-raisin-black{
    background-color:$raisin-black ;
}
.bg-independence{
    background-color:$independence ;
}
.bg-morning-blue{
    background-color:$morning-blue ;
}
.bg-powder-blue{
    background-color:$powder-blue ;
}
.bg-cultured{
    background-color:$cultured ;
}
.bg-apricot{
    background-color:$apricot ;
}
.bg-lemon-meringue{
    background-color:$lemon-meringue ;
}
.bg-yellow-crayola{
    background-color:$yellow-crayola ;
}
.bg-copper-crayola{
    background-color:$copper-crayola ;
}
.bg-indian-red{
    background-color:$indian-red ;
}
.bg-eerie-black{
    background-color:$eerie-black ;
}
