/* BACKGROUND-COLORS */
.bg-raisin-black{
    background-color:$raisin-black ;
}
.bg-independence{
    background-color:$independence ;
}
.bg-morning-blue{
    background-color:$morning-blue ;
}
.bg-powder-blue{
    background-color:$powder-blue ;
}
.bg-cultured{
    background-color:$cultured ;
}
.bg-apricot{
    background-color:$apricot ;
}
.bg-lemon-meringue{
    background-color:$lemon-meringue ;
}
.bg-yellow-crayola{
    background-color:$yellow-crayola ;
}
.bg-copper-crayola{
    background-color:$copper-crayola ;
}
.bg-indian-red{
    background-color:$indian-red ;
}
.bg-eerie-black{
    background-color:$eerie-black ;
}


/* color letters */
.color-eerie-black{
    color: $eerie-black;
}
.color-raisin-black{
    color: $raisin-black;
}
.color-independence{
    color: $independence;
}
.color-indian-red{
    color: $indian-red;
}
.color-copper-crayola{
    color: $copper-crayola;
}
.color-morning-blue{
    color: $morning-blue;
}
.color-powder-blue{
    color: $powder-blue;
}
.color-yellow-crayola{
    color: $yellow-crayola;
}
.color-apricot{
    color: $apricot;
}
.color-lemon-meringue{
    color: $lemon-meringue;
}
.color-cultured{
    color: $cultured;
}


/* botones */
/*Colocar al padre position relative*/
.lineaBoton{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 3px;
    /* margin: auto; */
    border-radius: 10px;
    background-color: $morning-blue;
}