/* SCSS RGB */
$raisin-black: rgba(27, 29, 35, 1);
$independence: rgba(85, 91, 110, 1);
$morning-blue: rgba(137, 176, 174, 1);
$powder-blue: rgba(190, 227, 219, 1);
$cultured: rgba(250, 249, 249, 1);
$apricot: rgba(255, 214, 186, 1);
$lemon-meringue: rgba(241, 232, 184, 1);
$yellow-crayola: rgba(249, 231, 132, 1);
$copper-crayola: rgba(229, 143, 101, 1);
$indian-red: rgba(208, 83, 83, 1);
$eerie-black: rgba(25, 25, 25, 1);