/* SCSS RGB */
$raisin-black: rgba(27, 29, 35, 1);
$independence: rgba(85, 91, 110, 1);
$morning-blue: rgba(137, 176, 174, 1);
$powder-blue: rgba(190, 227, 219, 1);
$cultured: rgba(250, 249, 249, 1);
$apricot: rgba(255, 214, 186, 1);